.adeo__offer {
  padding-top:50px;
  display: flex;
  justify-content: space-around;
  @media(max-width:1024px) {
    padding-top:0px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &-left {
    background-color:$blue;
    padding:2.5em;
    max-width:15em;
    @media(max-width:1024px) {
      margin:10px;
      min-width: auto;
    }
    @media(max-width:600px) {
      margin:10px;
      min-width: 100%;
    }

  }
  &-text {
    color:rgba(255,255,255, 0.6);
  }
  &-line {
    border-bottom:5px solid $white;
    max-width:35px;
    margin-top: -10px;
  }
  &-heading {
    font-size: 3em;
    font-weight: 700;
    color:$white;
    line-height: 4rem;
    margin:0;
    
  }
  &-btn {
    margin-top: 80%;
    
    font-weight: 500;
    margin-left: 43%;
    background-position: center;
    transition: background .8s;
    background-color: #448CCB;
    border: 2px solid #ffffff;
    padding: 3px 5px;
    color: #fff;
    word-break: break-word;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
  @media(max-width:1024px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  @media(max-width:600px) {
    margin-top: 10%;
  }
  }
  &-right {
    justify-content: flex-end;
    align-items:center;
    margin:0 30px;
    max-width:450px;
    
  }
  &-post {
    background-color:$lightGrey;
    &-box {
      padding: 1em 4em;
      &-text {
        line-height: 1.5em;
        color: rgba(0,0,0,0.6);
      }
    }
  }
}


